body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.533);
}
.container{
    display: flex;
    width: 50vw;
    height: 80vh;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
}
.container .img{
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
    background-image: url(/random.jpg);
    background-size: cover;
    width: 25vw;
    height: 80vh;
}

form{
    width: 25vw;
    height: 80vh;
}
form h2{
    text-align: center;
}
form label{
    display: block;
    padding: 20px;

}
form input{
    padding: 10px;
    margin-left: 15px;
    width: 20vw;
    border:1px rgba(128, 128, 128, 0.495) solid;
}
form input[type=checkbox]{
margin: 25px 0 0 0;
width: 40px;
}
button{
    display: block;
    margin: 20px 0 0 30px;
    padding: 10px;
    width: 100px;
    background-color: blue;
    color: white;
}