body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 100vh;
}

form {
    position: relative;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}

form>h2 {
    text-align: center;

}

form input[type="email"],
input[type="password"] {
    display: block;
    padding: 15px;
    margin: 0 0 20px 20px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid rgb(96, 95, 95);
}

form button {
    position: absolute;
    top: 52%;
    display: block;
    padding: 12px;
    margin: 0 0 20px 20px;
    width: 310px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
}

form a {
    position: absolute;
    left: 33%;
    text-align: right;
    text-decoration: none;
    color: blue;
}

form span {
    position: absolute;
    top: 62%;
    right: 35%;
}

form .sign-up {
    position: absolute;
    top: 62%;
    right: 22%;
}

form .btn {
    display: block;
    position: absolute;
    top: 70%;
}

.btn button {
    position: relative;
    display: block;
    padding: 12px;
    margin: 0 0 15px 20px;
    width: 310px;
    border-radius: 10px;
    border: 1px solid black;
}
.Facebook {
    background-color: blue;
    color: white;
}
.github{
    background-color: white;
    color: black;
}
button i{
    position: absolute;
    left: 5%;
    top:55%
}